<!-- /*{
    "hero_section": {
        "_type": "document",
        "timings_value_from": "5.30 PM",
        "hero_section_image": {
            "_type": "image",
            "asset": {
                "_type": "reference",
                "_ref": "image-65e0ae5a93a2a05a0aad428e84c130cf3f0a1838-573x577-png"
            }
        },
        "timings_value_to": "7.30PM",
        "welcome_text": "Welcome to",
        "temple_name": "Liverpool Murugan Temple",
        "timings_text": "Timings (Everyday)"
    },
    "_id": "5090ae51-da95-490f-88fa-0a48f1294198",
    "_createdAt": "2025-08-05T16:37:14Z",
    "pricing_section": [
        {
            "scheme_title": "Yearly Temple Scheme",
            "price": "101",
            "_type": "pricing_details",
            "_key": "952e16afb4bc",
            "benefits": [
                {
                    "_type": "benefits_details",
                    "_key": "13627b5d35b6",
                    "benefit_description": "Performed personally by the devotee to Utsavar unity",
                    "benefit_label": "Paal Abishegam"
                },
                {
                    "benefit_label": "Moolavar Abishegam",
                    "_type": "benefits_details",
                    "_key": "bcf4f3ee3e12",
                    "benefit_description": "Conducted by the temple Gurukkal (priest)."
                },
                {
                    "benefit_description": "Offered to all visitors in the booker's name.",
                    "benefit_label": "Prasadam Distribution",
                    "_type": "benefits_details",
                    "_key": "1361edd07496"
                }
            ]
        },
        {
            "price": "21",
            "_type": "pricing_details",
            "_key": "7c00a1ce9d1a",
            "benefits": [
                {
                    "benefit_description": "Held on the third Friday of every month.",
                    "_type": "benefits_details",
                    "_key": "00d4602fd6cb"
                },
                {
                    "_type": "benefits_details",
                    "_key": "787c212ba3ed",
                    "benefit_description": "Participation in Satru Samhara Homam (ritual for removing obstacles)."
                },
                {
                    "_type": "benefits_details",
                    "_key": "6674a611cf32",
                    "benefit_description": "Blessings for wellness and prosperity for all devotees."
                }
            ],
            "scheme_title": "Monthly Temple Scheme"
        }
    ],
    "_system": {
        "base": {
            "rev": "MZFnxNx2eBhnA3GVBiyq49",
            "id": "5090ae51-da95-490f-88fa-0a48f1294198"
        }
    },
    "middle_row_section": {
        "_type": "document",
        "abhisekam_text": "Abisekham on your own hands",
        "enroll_now_text": "Enroll Now Perform Paal"
    },
    "_updatedAt": "2025-08-06T15:59:44Z",
    "_type": "landing_page_content",
    "about_us_section": {
        "_type": "document",
        "about_section_image": {
            "asset": {
                "_type": "reference",
                "_ref": "image-b0e64aeb2d781be6272e2808a6df141f02852545-411x412-png"
            },
            "_type": "image"
        },
        "section_title_2": "Temple's New Home",
        "section_title_1": "Support Liverpool Murugan",
        "section_para_1": "We are raising funds to construct a new temple for the Liverpool Murugan Temple, established in 2017. After operating in a rented space for 7 years, we have secured our own land and are now working towards building a beautiful, traditional temple to serve the Hindu community in Wirral.",
        "section_para_2": "Your support will help create a sacred space for worship, cultural events, and community gatherings. Join us in this noble cause and contribute to bringing peace, prosperity, and blessings to all."
    },
    "enroll_now_section": {
        "text_first_line": "Enroll Now Perform Paal",
        "text_third_line": "hands",
        "text_second_line": "Abhisekham on you own",
        "_type": "document"
    },
    "footer_section": {
        "navbar_links": [
            {
                "link_label": "Home",
                "_key": "55c3dd503212",
                "link_value": "home",
                "_type": "link_details"
            },
            {
                "_type": "link_details",
                "link_label": "About us",
                "_key": "0ec1596b4d2c",
                "link_value": "about-us"
            },
            {
                "_key": "c8420e94bbbc",
                "link_value": "contact-us",
                "_type": "link_details",
                "link_label": "Contact Us"
            },
            {
                "link_label": "Visit Us",
                "_key": "2a2dffbf767d",
                "link_value": "enroll",
                "_type": "link_details"
            },
            {
                "_key": "0c80a99896fc",
                "link_value": "gallery",
                "_type": "link_details",
                "link_label": "Gallery"
            }
        ],
        "contact_us_details": {
            "_type": "document",
            "location_label": "Location",
            "location_value": "21 Park Street, Birkenhead, CH41 3LY",
            "call_us_label": "Call Us",
            "mail_us_value": "contact@liverpoolmurugantemple.org.uk",
            "mail_us_label": "Mail Us",
            "call_us_value": "+44(0)7910961914"
        },
        "temple_name": "Liverpool Murugan Temple",
        "_type": "document",
        "copyright_text": "Copyright © 2017 Liverpool Murugan Temple - All Rights Reserved"
    },
    "_rev": "oLHtOefD7nkFljdU8DfXyG",
    "header_section": {
        "navbar_links": [
            {
                "_key": "ad9d089c3012",
                "link_value": "home",
                "_type": "link_details",
                "link_label": "Home"
            },
            {
                "link_value": "about-us",
                "_type": "link_details",
                "link_label": "About us",
                "_key": "9a3d64e8eb83"
            },
            {
                "_type": "link_details",
                "link_label": "Contact Us",
                "_key": "1be81c83b856",
                "link_value": "contact-us"
            },
            {
                "_key": "76b4acd5f528",
                "link_value": "enroll",
                "_type": "link_details",
                "link_label": "Visit Us"
            },
            {
                "link_value": "gallery",
                "_type": "link_details",
                "link_label": "Gallery",
                "_key": "53b8a8dd69fe"
            }
        ],
        "header_name": "Livepool Murugan Temple",
        "_type": "document"
    }
}*/ -->
<div class="main-container" *ngIf="landingPageContent">
  <div class="top-container">
    <div class="header">
      <div class="temple-details">
        <div class="image"><img src="../assets/images/header-image.png" alt=""></div>
        <div class="temple-name">{{landingPageContent.header_section.header_name}}</div>
      </div>
      <div class="header-nav-links">
        <div class="header-link" *ngFor="let link of landingPageContent.header_section.navbar_links" (click)="navigateToSection(link.link_value)">{{link.link_label}}</div>
  </div>
      <div class="header-menu" (click)="sidebarVisible1 = true">
        <i class="pi pi-bars"></i>
      </div>
    </div>
    <div class="hero-section" id="home">
      <div class="hero-content">
        <div class="welcome-text">{{landingPageContent.hero_section.welcome_text}}</div>
        <div class="temple-text">Liverpool Murugan <div>Temple</div>
        </div>
        <hr>
        <div class="timing-details">
          <div class="label">{{landingPageContent.hero_section.timings_text}}</div>
          <div><i class="pi pi-clock"></i> {{landingPageContent.hero_section.timings_value_from}} to <i class="pi pi-clock"></i> {{landingPageContent.hero_section.timings_value_to}}</div>
        </div>
      </div>
      <div class="hero-image">
        <img class="hero-section-image" [src]="heroSectionImage" alt="">
      </div>
    </div>
    <div class="middle-row-section">
      <img class="image1" src="../assets/images/leftvel.png" alt="">
      <div class="details-part">
        <div>{{landingPageContent.middle_row_section.enroll_now_text}}</div>
        <div>{{landingPageContent.middle_row_section.abhisekam_text}}</div>
      </div>
      <img class="image2" src="../assets/images/rightvel.png" alt="">
    </div>
    <div class="about-us-section" id="about-us">
      <div class="title">
        <div class="line1">{{landingPageContent.about_us_section.section_title_1}}</div>
        <div class="line2">{{landingPageContent.about_us_section.section_title_2}}</div>
      </div>
      <div class="content">
        <div class="left">
          <p>{{landingPageContent.about_us_section.section_para_1}}
          </p>
          <p>{{landingPageContent.about_us_section.section_para_2}}
          </p>
        </div>
        <div class="right">
          <img class="about-us-image" [src]="aboutUsSectionImage" alt="">
        </div>
      </div>
    </div>
    <div class="plans-section" id="enroll">
      <div class="plan" *ngFor="let plan of landingPageContent.pricing_section">
        <div class="scheme-details">
          <div class="name">{{plan.scheme_title}}</div>
          <div class="price">&#163; {{plan.price}}</div>
        </div>
        <div class="divider">
          <hr>
        </div>
        <div class="benefits">
          <div class="benefit" *ngFor="let benefit of plan.benefits">
            <span> <span *ngIf="benefit.benefit_label"><strong>{{benefit.benefit_label}}</strong> - </span><span [innerHtml]="benefit.benefit_description"></span></span>
          </div>
        </div>
        <div class="subscribe-now">
          <button (click)="onClickSubscribe('plan.scheme_title', plan.price)">Subscribe now</button>
        </div>
      </div>
    </div>
    <div class="gallery-section" id="gallery">
      <div class="title">Our Gallery</div>
      <div class="images">
        <p-carousel autoplayInterval="3000" [value]="galleryImages" [numVisible]="2" [numScroll]="2" [responsiveOptions]="responsiveOptions">
          <ng-template pTemplate="item" let-item>
            <img [src]="item" class="gallery-image" />
          </ng-template>
        </p-carousel>
      </div>
    </div>
    <div class="enroll-now-section">
      <div class="enroll-now-image">
      </div>
      <div class="enroll-now-content">
        <div class="text">
          {{landingPageContent.enroll_now_section.text_first_line}}
          <div>{{landingPageContent.enroll_now_section.text_second_line}}</div>
          <div>{{landingPageContent.enroll_now_section.text_third_line}}</div>
        </div>
        <div class="button">
          <button (click)="navigateToSection('enroll')">Subscribe Now</button>
        </div>
      </div>
    </div>
  </div>
  <div class="footer" id="contact-us">
    <div class="footer-top-container">
      <div class="temple-details">
        <div class="image">
          <img src="../assets/images/header-image.png" alt="">
        </div>
        <div class="name">{{landingPageContent.footer_section.temple_name}}</div>
      </div>
      <div class="nav-links">
        <div class="link" *ngFor="let link of landingPageContent.footer_section.navbar_links" (click)="navigateToSection(link.link_value)">{{link.link_label}}</div>
      </div>
      <div class="contact-us-details">
        <div class="title">Contact Us</div>
        <div class="categories">
          <div class="category">
            <div class="image">
              <i class="pi pi-phone"></i>
            </div>
            <div class="details">
              <div class="label">Call Us</div>
              <div class="value">
                {{landingPageContent.footer_section.contact_us_details.call_us_value}}</div>
            </div>
          </div>
          <div class="category">
            <div class="image">
              <i class="pi pi-envelope"></i>
            </div>
            <div class="details">
              <div class="label">Mail Us</div>
              <div class="value">{{landingPageContent.footer_section.contact_us_details.mail_us_value}}</div>
            </div>
          </div>
          <div class="category">
            <div class="image">
              <i class="pi pi-map-marker"></i>
            </div>
            <div class="details">
              <div class="label">Location</div>
              <div class="value">{{landingPageContent.footer_section.contact_us_details.location_value}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-container">
      <div class="copyright">
        {{landingPageContent.footer_section.copyright_text}}
      </div>
    </div>
  </div>
</div>

<p-dialog [modal]="true" [(visible)]="openForm" class="dialog-box">
  <app-membership-form [package_plan]="package_plan" [package_price]="package_price"></app-membership-form>
</p-dialog>

<p-sidebar [(visible)]="sidebarVisible1" position="right">
  <div class="header-side-nav-links">
    <div class="header-link" *ngFor="let link of landingPageContent.header_section.navbar_links" (click)="navigateToSection(link.link_value)">{{link.link_label}}</div>
  </div>
</p-sidebar>