<div class="main-container" *ngIf="landingPageContent">
  <div class="top-container">
    <div class="header">
      <div class="temple-details">
        <div class="image"><img src="../assets/images/header-image.png" alt=""></div>
        <div class="temple-name">{{landingPageContent?.header_section.header_name}}</div>
      </div>
      <div class="header-nav-links">
        <div class="header-link" *ngFor="let link of landingPageContent?.header_section.navbar_links" (click)="navigateToSection(link.link_value)">{{link.link_label}}</div>
  </div>
      <div class="header-menu" (click)="sidebarVisible1 = true">
        <i class="pi pi-bars"></i>
      </div>
    </div>
    <div class="hero-section" id="home">
      <div class="hero-content">
        <div class="welcome-text">{{landingPageContent.hero_section.welcome_text}}</div>
        <div class="temple-text">Liverpool Murugan <div>Temple</div>
        </div>
        <hr>
        <div class="timing-details">
          <div class="label">{{landingPageContent.hero_section.timings_text}}</div>
          <div><i class="pi pi-clock"></i> {{landingPageContent.hero_section.timings_value_from}} to <i class="pi pi-clock"></i> {{landingPageContent.hero_section.timings_value_to}}</div>
        </div>
      </div>
      <div class="hero-image">
        <img class="hero-section-image" [src]="heroSectionImage" alt="">
      </div>
    </div>
    <div class="middle-row-section">
      <img class="image1" src="../assets/images/leftvel.png" alt="">
      <div class="details-part">
        <div>{{landingPageContent.middle_row_section.enroll_now_text}}</div>
        <div>{{landingPageContent.middle_row_section.abhisekam_text}}</div>
      </div>
      <img class="image2" src="../assets/images/rightvel.png" alt="">
    </div>
    <div class="about-us-section" id="about-us">
      <div class="title">
        <div class="line1">{{landingPageContent.about_us_section.section_title_1}}</div>
        <div class="line2">{{landingPageContent.about_us_section.section_title_2}}</div>
      </div>
      <div class="content">
        <div class="left">
          <p>{{landingPageContent.about_us_section.section_para_1}}
          </p>
          <p>{{landingPageContent.about_us_section.section_para_2}}
          </p>
        </div>
        <div class="right">
          <img class="about-us-image" [src]="aboutUsSectionImage" alt="">
        </div>
      </div>
    </div>
    <div class="plans-section" id="enroll">
      <div class="plan" *ngFor="let plan of landingPageContent.pricing_section">
        <div class="scheme-details">
          <div class="name">{{plan.scheme_title}}</div>
          <div class="price">&#163; {{plan.price}}</div>
        </div>
        <div class="divider">
          <hr>
        </div>
        <div class="benefits">
          <div class="benefit" *ngFor="let benefit of plan.benefits">
            <span> <span *ngIf="benefit.benefit_label"><strong>{{benefit.benefit_label}}</strong> - </span><span [innerHtml]="benefit.benefit_description"></span></span>
          </div>
        </div>
        <div class="subscribe-now">
          <button (click)="onClickSubscribe(plan.scheme_title, plan.price)">Subscribe now</button>
        </div>
      </div>
    </div>
    <div class="gallery-section" id="gallery">
      <div class="title">Our Gallery</div>
      <div class="images">
        <p-carousel autoplayInterval="3000" [value]="galleryImages" [numVisible]="2" [numScroll]="2" [responsiveOptions]="responsiveOptions">
          <ng-template pTemplate="item" let-item>
            <img [src]="item" class="gallery-image" />
          </ng-template>
        </p-carousel>
      </div>
    </div>
    <div class="enroll-now-section">
      <div class="enroll-now-image">
      </div>
      <div class="enroll-now-content">
        <div class="text">
          {{landingPageContent.enroll_now_section.text_first_line}}
          <div>{{landingPageContent.enroll_now_section.text_second_line}}</div>
          <div>{{landingPageContent.enroll_now_section.text_third_line}}</div>
        </div>
        <div class="button">
          <button (click)="navigateToSection('enroll')">Subscribe Now</button>
        </div>
      </div>
    </div>
  </div>
  <div class="footer" id="contact-us">
    <div class="footer-top-container">
      <div class="temple-details">
        <div class="image">
          <img src="../assets/images/header-image.png" alt="">
        </div>
        <div class="name">{{landingPageContent.footer_section.temple_name}}</div>
      </div>
      <div class="nav-links">
        <div class="link" *ngFor="let link of landingPageContent.footer_section.navbar_links" (click)="navigateToSection(link.link_value)">{{link.link_label}}</div>
      </div>
      <div class="contact-us-details">
        <div class="title">Contact Us</div>
        <div class="categories">
          <div class="category">
            <div class="image">
              <i class="pi pi-phone"></i>
            </div>
            <div class="details">
              <div class="label">Call Us</div>
              <div class="value mobile-number" (click)="onClickMobileNumber(landingPageContent.footer_section.contact_us_details.call_us_value)">
                {{landingPageContent.footer_section.contact_us_details.call_us_value}}</div>
            </div>
          </div>
          <div class="category">
            <div class="image">
              <i class="pi pi-envelope"></i>
            </div>
            <div class="details">
              <div class="label">Mail Us</div>
              <div class="value email-id" (click)="onClickEmail(landingPageContent.footer_section.contact_us_details.mail_us_value)">{{landingPageContent.footer_section.contact_us_details.mail_us_value}}</div>
            </div>
          </div>
          <div class="category">
            <div class="image">
              <i class="pi pi-map-marker"></i>
            </div>
            <div class="details">
              <div class="label">Location</div>
              <div class="value">{{landingPageContent.footer_section.contact_us_details.location_value}} <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2379.0459586158286!2d-3.023602512834369!3d53.39611776107477!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487b26e006f642b9%3A0x998613de6f3b6127!2s21%20Park%20St%2C%20Birkenhead%20CH41%203AB%2C%20UK!5e0!3m2!1sen!2sin!4v1767181562836!5m2!1sen!2sin" width="200" height="100" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-container">
      <div class="copyright">
        {{landingPageContent.footer_section.copyright_text}}
      </div>
    </div>
  </div>
</div>

<p-dialog [modal]="true" [(visible)]="openForm" class="dialog-box">
  <app-membership-form [package_plan]="package_plan" [package_price]="package_price" (closeForm)="onCloseForm($event)"></app-membership-form>
</p-dialog>

<p-sidebar [(visible)]="sidebarVisible1" position="right">
  <div class="header-side-nav-links">
    <div class="header-link" *ngFor="let link of landingPageContent?.header_section.navbar_links" (click)="navigateToSection(link.link_value)">{{link.link_label}}</div>
  </div>
</p-sidebar>
