/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap');
@import "primeicons/primeicons.css";

body {
    margin: 0;
    height: 100vh;
    font-family: "Chivo", sans-serif;
}